@keyframes boton-comenzar{
    0%, 100%{
        background: none;
    } 

    50%{
        box-shadow: 0px 0px 13px 13px #ffffff;
        color: #202020;
        background-color: #ffffff;
        border-color: #ffffff;
        font-weight: bold;
    }
}


html{
    scroll-behavior: smooth;
    background-color: #202020;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.padding-izq{
    padding-left: 3rem;
}

a,
a:active,
a:hover,
a:visited{
    text-decoration: none;
}

li{
    list-style: none;
}

/*NAVBAR*/

#navbar{
    background-color: #414141;
    position: fixed;
    width: 100%;
    font-size: 1.5rem;
    padding: 0.5rem;
}

.navbar-container{
    display: flex;
}

.links-container{
    width: 50%;
}

.navbar-links{
    display: flex;
    justify-content: space-around;
}

.ir-inicio{
    width: 90%;
}

.navbar-container a{
    font-size: 1.5rem;
    color: #afafaf;
    transition: all 0.75s;
}

.ir-inicio a{
    font-family: 'Orbitron', sans-serif;
    color: #fff
}


.navbar-container a:hover{
    color: #fff
}

.ir-inicio:hover{
    letter-spacing: 6px;
}

/*HEADER*/

header{
    background-color: #202020;
    background-image: url("header.jpg");
    background-size: cover;
    height: 100vh;
}

.header-info{
    display: inline-block;
    padding-top: 25vh;
    height: 15vh;
    width: 50%;
}

.header-info > p{
    margin: 2.5rem 0;
    font-size: 1.25rem;
}

.titulo{
    font-family: 'Orbitron', sans-serif;
    font-size: 7.25rem;
    width: 100%;
}

.comenzar{
    border: 2px solid;
    border-radius: 10px;
    padding: 1rem;
    font-size: 1.25rem;
    width: 30%;
    letter-spacing: 2px;
    animation: boton-comenzar 2.5s infinite;
}

/*PLANETAS*/

.container{
    padding: 3rem 0;
}

.planeta{
    display: grid;
    grid-template-areas: "nombre nombre"
                            "imagen datos"
                            "imagen descripcion"
                            "video video";
}

.planeta > *{
    padding: 2rem 0;
}

.nombre-planeta{
    grid-area: nombre;
}

h2{
    font-family: 'Orbitron', sans-serif;
    font-size: 5rem;
    text-align: center;
}

.imagen-planeta{
    grid-area: imagen;
    text-align: center;
}

.imagen-planeta img{
    width: 50vh;
    height: auto;
    transition: all 0.75s;
}

.imagen-planeta img:hover{
    transform: scale(1.25);
}

.datos-planeta{
    grid-area: datos;
    text-align: end;
}

.datos-planeta ul{
    width: 100vh;
    font-size: 1.5rem;
}

.datos-lista li, b{
    font-size: 1.25rem;
    font-family: 'Raleway', sans-serif;
}

.datos-lista b{
    font-family: 'Play', sans-serif;
}

.descripcion-planeta{
    grid-area: descripcion;
    text-align: justify;
    
}

.descripcion-planeta p{
    width: 100vh;
    font-size: 1.25rem;
    font-family: 'Raleway', sans-serif;
}

.video-planeta{
    grid-area: video;
}

.ver-video{
    border: none;
    border-radius: 7px;
    background-color: #0096FF;
    display: block;
    margin: 0 auto;
    transition: all 1s;
    width: 15%;
    color: #202020;
    font-size: 1.5rem;
    font-family: 'Play', sans-serif;
    padding: 1rem 5px;
    cursor: pointer;
}

.fa-play{
    color: #202020;
    font-size: 1.5rem;
}

.ver-video:hover{
    width: 30%;
}

/*POPUP*/

.popup-container{
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    top: 0;
}

.fa-xmark{
    font-size: 3rem;
    position: absolute;
    top: 5%;
    right: 5%;
    transition: all 0.5s;
    cursor: pointer;
}

.fa-xmark:hover{
    color: tomato;
}

.video{
    border-radius: 5px;
    width: 50%;
    height: 65%;
}