html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.padding-izq{
    padding-left: 3rem;
}

a,
a:active,
a:hover,
a:visited{
    text-decoration: none;
}

li{
    list-style: none;
}

/*NAVBAR*/

#navbar{
    background-color: #414141;
    position: fixed;
    width: 100%;
    font-size: 1.5rem;
    padding: 0.5rem;
}

.navbar-container{
    display: flex;
}

.links-container{
    width: 50%;
}

.navbar-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ir-inicio{
    width: 50%;
}

.navbar-container a{
    font-size: 1.5rem;
    color: #afafaf;
    transition: all 0.75s;
}

.ir-inicio a{
    font-family: 'Orbitron', sans-serif;
    color: #fff
}


.navbar-container a:hover{
    color: #fff
}

.ir-inicio:hover{
    letter-spacing: 6px;
}

/*HEADER*/

header{
    background-color: #202020;
    background-image: url("header.jpg");
    background-size: cover;
    height: 100vh;
}

.header-info{
    display: inline-block;
    padding-top: 35vh;
    height: 15vh;
    width: 50%;
}

.header-info > p{
    margin: 2.5rem 0;
    font-size: 1.25rem;
}

.titulo{
    font-family: 'Orbitron', sans-serif;
    font-size: 7.25rem;
    width: 100%;
}


.comenzar{
    background: none;
    border: 2px solid;
    border-radius: 10px;
    padding: 1rem;
    font-size: 1.25rem;
    transition: all 0.75s;
    width: 30%;
    letter-spacing: 2px;
}

.comenzar:hover{
    box-shadow: 0px 0px 13px 13px #ffffff;
    color: #202020;
    background-color: #ffffff;
    border-color: #ffffff;
    font-weight: bold;
}

